.balza{
    background-color: rgb(47, 163, 1);
    text-align: center;
color: beige;
padding: 20px;

border-style: solid;
border-color: rgb(134, 239, 96);
border-width: 8px;
border-radius: 30px;
}

.tony{
    color: chartreuse;
    padding: 6px;
    font-weight: bold;
    font-size: large;
 
}

.anto{ 
    position: absolute;
    top: 344px;
    left: 789px;
}

.balzano{
color: rgb(36, 161, 2);
}

.tonio{
    background-color: rgba(147, 254, 118, 0.733);
    text-align: center;
}